
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/idea/*
###< symfony/framework-bundle ###
/migrations/.gitignore
/src/Entity/.gitignore
/src/Repository/.gitignore
/.idea/Dev-ainqueurs.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
